[submodule "lib/hiredis"]
	path = lib/hiredis
	url = git@github.com:redis/hiredis.git
	ignore = untracked
	branch = master
[submodule "lib/redis"]
	path = lib/redis
	url = git@github.com:redis/redis.git
	ignore = untracked
	branch = 7.0
[submodule "lib/nxjson"]
	path = lib/nxjson
	url = git@github.com:thestr4ng3r/nxjson.git
	branch = master
